.header {
  padding: 12px 0;
  background-color: var(--preview-color);
}

.header__content {
  width: calc(100% - 2 * 70px);
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  text-align: center;
  cursor: pointer;
  transition: opacity .3s linear;
}
.button:hover {
  opacity: 0.8;
  color: var(--green);
}

.header__button {
  font-size: 16px;
  line-height: 22px;
  padding: 5px;
  margin-left: 5px;
  color: var(--black);
  border: none;
  background-color: transparent;
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  .header__content {
    width: calc(100% - 2 * 20px);
  }
  .header__button {
    font-size: 14px;
    padding: 0 5px ;
  }
}

@media screen and (max-width: 425px) {
  .header__content {
    width: calc(100% - 2 * 10px);
  }
  .header__button {
    font-size: 12px;
    margin: 0 5px;
    padding: 0;
  }
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
.an {
  border-right: solid 4px var(--text-grey);
  white-space: wrap;
  overflow: hidden;
  font-family: 'Comfortaa-Regular', Arial, sans-serif;
  color: black;
}
/* Animation */
.an {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}
/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 150px;}
}
/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color: var(--text-grey);}
  to{border-right-color: transparent;}
}